<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="OekonomiskEffektuering">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://kombit.dk/sts/ydelseindeks/oekonomiskEffektuering"
                binding="customBinding" bindingConfiguration="OekonomiskEffektuering"
                contract="Kombit.InfrastructureSamples.OekonomiskEffektueringIndeksService.OekonomiskEffektueringPortType"
                name="OekonomiskEffektueringIndeks" />
        </client>
    </system.serviceModel>
</configuration>