<?xml version="1.0" encoding="utf-8" ?>
<!-- only for oioIdws logging config -->
<configuration>
	<configSections>
		<section name="oioIdwsLoggingConfiguration" type="Digst.OioIdws.CommonCore.Logging.LoggingConfigurationSection, Digst.OioIdws.CommonCore, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
	</configSections>
	<oioIdwsLoggingConfiguration logger="Kombit.InfrastructureSamples.Logging.Log4NetLogger, Kombit.InfrastructureSamples"/>
</configuration>