<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SagDokumentIndeksBinding">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:8080/service/SagDokument/SagDokumentIndeks/5"
                binding="basicHttpBinding" bindingConfiguration="SagDokumentIndeksBinding"
                contract="Kombit.InfrastructureSamples.SagDokumentIndeksService.SagDokumentIndeksPortType"
                name="SagDokumentIndeksPort" />
        </client>
    </system.serviceModel>
</configuration>